body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 82.1vh;;
}

.wrapper {
  background-color: #;
  width: %100;
}

.navbar {
  background-color: #62908c;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0
  opacity: 0.7;
}

.logo-image-cont {
  float: left;
  margin-left: 20px;
  display: inline-block;
}

.logo-image {
  padding-top: 5px;
  height: 55px;
}

.logo-text-cont {
  display: inline-block;
  height: 55px;
}

.logo-text {
  font-family: 'Sintony', sans-serif;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 35px;
  color: white;
}

.nav-link-bar {

  float: right;
  display: inline;
}

.nav-links {
  margin-top: 22px;
  display: inline-block;
  list-style: none;
  padding-right: 30px;
}

.nav-item {
  display: inline;
  padding-left: 17px;
  padding-right: 17px;
}

.nav-link {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #e5ede8;
}

.about-section {
  margin-top: 110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sub-section {
  margin-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.section-header {
  font-family: 'Sintony', sans-serif;
  font-size: 1.8em;
  color: #2e484c;
  margin-bottom: 7px;
}

.section p {
  font-size: 18px;
}

.section a {
  color: #0d8ba1;
  text-decoration: none;
}

.section a:hover {
  color: #AAD6DE;
}

.footer {
  color: white !important;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #134347;
  text-align: center;
}

.footer-text {
  font-size: 16px;
}

.footer-text a {
  font-size: 18px;
  color: white;
}

.footer-text a:hover {
  color: #AAD6DE;
}

.story-section {
  margin-top: 110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.story-title {
  font-family: 'Sintony', sans-serif;
  font-size: 1.8em;
  color: #2e484c;
  margin-bottom: 7px;
}

.back-button {
  background-color: #62908c !important;
  font-size: 18px !important;
  color: white !important;
}

.back-button:hover {
  background-color: #8eb2af !important;
  border-color: #8eb2af !important;
}

.button-section {
  margin-top: 30px;
  text-align: center;
}
