body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 91vh;
  padding-bottom: 9vh;
}

.navbar {
  background-color: #62908c;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0
  opacity: 0.7;
}

.logo-image-cont {
  float: left;
  margin-left: 20px;
  display: inline-block;
}

.logo-image {
  padding-top: 5px;
  height: 55px;
}

.logo-text-cont {
  display: inline-block;
  height: 55px;
}

.logo-text {
  font-family: 'Sintony', sans-serif;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 35px;
  color: white;
}

.nav-link-bar {

  float: right;
  display: inline;
}

.nav-links {
  padding-top: 22px;
  display: inline-block;
  list-style: none;
  padding-right: 30px;
}

.nav-item {
  display: inline;
  padding-left: 17px;
  padding-right: 17px;
}

.nav-link {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #e5ede8;
}

.about-section {
  padding-top: 110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sub-section {
  padding-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.koans-section {
  padding-top: 110px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.not-found-section {
  padding-top: 110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-header {
  font-family: 'Sintony', sans-serif;
  font-size: 1.8em;
  color: #2e484c;
  padding-bottom: 7px;
}

.section p {
  font-size: 18px;
}

.section a {
  color: #0d8ba1;
  text-decoration: none;
}

.section a:hover {
  color: #AAD6DE;
}

.footer {
  color: white !important;
  height: 8vh;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  background-color: #134347;
  text-align: center;
  width: 100%;
}

.footer-text {
  font-size: 16px;
}

.footer-text a {
  font-size: 18px;
  color: white;
}

.footer-text a:hover {
  color: #AAD6DE;
}

.story-section {
  padding-top: 110px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.story-title {
  font-family: 'Sintony', sans-serif;
  font-size: 1.8em;
  color: #2e484c;
  padding-bottom: 7px;
}

.back-button {
  background-color: #62908c !important;
  font-size: 18px !important;
  color: white !important;
}

.back-button:hover {
  background-color: #8eb2af !important;
  border-color: #8eb2af !important;
}

.button-section {
  margin-top: 30px;
  text-align: center;
}

.dropbtn {
  margin-top: 20px;
  margin-right: 20px;
  background-color: #2e484c;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #8eb2af;
  color: white !important
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}

.story-link {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.story-link-a {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #0d8ba1;
}

.story-link-a:hover {
  color: #AAD6DE;
}

.story-text {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 675px) {
  .l-only {
    display: none;
  }
  .logo-text {
    padding-top: 20px;
    font-size: 26px;
  }
}

@media screen and ( min-width: 676px) {
  .m-only {
    display: none;
  }
}
